<h1>Создание пользователя</h1>
<form>
    <div>
        <label for="name">Имя<span>*</span>:</label>
        <input type="text" name="name" id="name" placeholder="Введите имя" />
        <p class="error">Имя обязательно</p>
    </div>

    <div>
        <label for="lastName">Фамилия<span>*</span>:</label>
        <input
            type="text"
            name="lastName"
            id="lastName"
            placeholder="Введите фамилию"
        />
        <p class="error">Фамилия обязательна</p>
    </div>

    <div>
        <label for="email">Email<span>*</span>:</label>
        <input
            type="email"
            name="email"
            id="email"
            placeholder="Введите email"
        />
        <p class="error">Email заполнен неверно</p>
        <p class="error">Этот email уже используется</p>
    </div>

    <div>
        <label class="default">Пол:</label>
        <div>
            <label
                ><input type="radio" name="gender" value="male" />
                Мужской</label
            >
            <label
                ><input type="radio" name="gender" value="female" />
                Женский</label
            >
        </div>
    </div>

    <div>
        <label class="default">Страна:</label>
        <select name="country">
            <option value="ru">Россия</option>
            <option value="us">США</option>
            <option value="de">Германия</option>
        </select>
    </div>

    <div>
        <label for="comment">Комментарий:</label>
        <textarea
            name="comment"
            id="comment"
            placeholder="Введите комментарий"
        ></textarea>
    </div>

    <div>
        <label>
            <input type="checkbox" name="agree" />
            Согласен с условиями использования<span>*</span>
        </label>
        <p class="error">Необходимо подтвердить согласие</p>
    </div>
    <div class="buttons">
        <button type="submit">Создать</button>
        <button type="reset">Сбросить</button>
    </div>
</form>
