@import url(./styles/font.scss);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Roboto;
}

body {
    background-color: rgb(40 60 69);
    color: white;
    padding: 20px;
}
