<!-- <h1>{{ title | lowercase }}</h1>
<h1>{{ title | uppercase }}</h1>
<h1>{{ "какая-то строка" | uppercase }}</h1>
<h1>{{ "какая-то строка вместе с переменной title " + title | lowercase }}</h1> -->

<!-- <h1>{{ "какая-то строка вместе с переменной title" | titlecase }}</h1> -->

<!-- <p>{{ user | json }}</p> -->

<!-- <p>{{ "какая-то строка" | slice : 2 }}</p>
<p>{{ "какая-то строка" | slice : 2 : 6 }}</p> -->

<!-- <p>{{ someDate }}</p>
<p>{{ someDate | date }}</p>
<p>{{ someDate | date : "YYYY-MM-DDThh:mm:ssTZD" }}</p> -->

<p>{{ someDate | date : "YYYY-MM-DDThh:mm:ssTZD" | slice : 0 : 7 }}</p>
