@import url(./styles/font.scss);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Roboto;
}

body {
    background-color: rgb(40 60 69);
    color: white;
    padding: 20px;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.2rem;
    margin: 16px 0 4px;
}

input,
button {
    border: 2px solid gray;
    padding: 6px;
    border-radius: 6px;
    outline: none;
    margin-bottom: 6px;
}

input {
    width: 100%;
}

button {
    max-width: fit-content;
    cursor: pointer;

    transition: all 0.3s ease;
    &:hover {
        background-color: rgb(199, 199, 199);
    }

    & + & {
        margin-left: 6px;
    }
}

*.ng-invalid,
*:not(form).ng-invalid > input {
    border-color: red;
}

*.ng-valid,
*:not(form).ng-valid > input {
    border-color: rgb(0, 255, 0);
}
